*~
*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/


# Ignore possible symlinked build and install directories
# Note: we can't use a / at the end because they might be
# symlink to a directory
build*
install*

# If you build with spack libraries, you can get spack log files
spack*.log

*~
/cmake/
/@cmake/
/cmake@/
/env/
/@env/
/env@/
/BUILD/
/build*/
/install*/
/.mepo/
parallel_build.o*
/src/Shared/AQcGAN@
/src/Shared/@AQcGAN
/src/Shared/NASA-AQcGAN@
/src/Shared/@NASA-AQcGAN
/runs*