#!/bin/csh -f


set EXP_NAME = @EXPNAME

# Paths
set RUN_DIR = @EXPDIR
set DATA_DIR = "${RUN_DIR}/data"
set EXP_DIR = "${RUN_DIR}/exp"

set SRC_DIR = @SRCDIR

# NASA AQcGAN
set MODEL_ROOT = /discover/nobackup/projects/gmao/aist-cf/nasa_cgan_model_aug2025_v2.1.1/
set CHKPT_IDX = 150
set AQCGAN_CONFIG_FILEPATH = config/aqcgan_config.yaml
set MODEL_DIR = $MODEL_ROOT/$CHKPT_IDX
set NORM_STATS_FILENAME = $MODEL_ROOT/norm_stats.pkl

# operations
set PREPROCESS_DATA = 1
set CLEAN_PREV_OUTPUT = 1
set RUN_AQCGAN = 1

# Preprocess config
set GEOS_DATA = "TrainingEnsemble" #SingleMember
set PREPROC_CONFIG_FILEPATH = config/train_ens_preprocess.config #geos_cf_preproc_collections.yaml

# Runtime configs
set MAX_N_PASSES = 1
set VERTICAL_LEVEL = 72
set SPLIT = test
