#!/bin/csh -f
set start_timestamp = 20210701_0000
set end_timestamp = 20210702_2100

set GEOSdata_dir = /css/gmao/aist-cf/pub/AIST21_0024/TrainingData_Ensembles/c90_v0/met_and_emis/
set staging_dir = GEOS_output # This is relative to DATA_DIR

set members = (014 030 013 004 032 010 002 006 027 001)

set collections = (gcc_2d_ll gcc_3d_ll)

set time_increment = 3
set perturb=met_and_emis

